@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #1f004e;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:hover,
button:hover {
  cursor: pointer;
}

.wrapper {
  width: 40%;
  min-width: 590px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.container {
    opacity: 90%;
  width: 100%;
  padding: 30px 30px 50px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

.container * {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container:hover {
   opacity: 1;
   transition: .2s;
}

h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: left;
  font-size: 45px;
  font-weight: bolder;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1f004e, #7447bc, #f7c0bd);
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100% {
    width: 90%;
  }
}

#js-bar {
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100% {
    width: 75%;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100% {
    width: 85%;
  }
}

#node-bar {
  animation: node-fill 2s forwards;
}

@keyframes node-fill {
  100% {
    width: 68%;
  }
}
